    *{
       margin: 0;
       padding: 0;
    }
    #nav{
        background-color: aqua;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        padding: 12px 0px 12px 5px;
    }
    .menu{
        display: inline;
        margin: 5px;
        text-transform: uppercase;
        color: black;
        transition: 1s;
        padding: 5pt;
    }
    .menu:hover{
        color: aqua;
        background-color: black;
        border-radius: 5pt;
        transition: 1s;
        padding: 5pt;
    }
    A{
        text-decoration: NONE;
    }