h1,h2,h3,p, a{
    color: rgb(0, 200, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1,h2,h3{
    width: 100%;
    text-align: center;
}
#whatsapp:hover{
    background-image: linear-gradient( t);
    border-radius: 20pt;
    padding: 5px;
    transition: 1s;
}
#whatsapp{
    transition: 1s;
}
#instagram:hover{
    background-image: linear-gradient(to color);
    border-radius: 20pt;
    padding: 10px;
    transition: 1s;
}
#instagram{transition: 1s;}
#github:hover{
    background-color: brown;
    color: blueviolet;
    border-radius: 20PT;
    padding: 10PX;
    transition: 1S;
}
#MAIL:HOVER{
    background-image: linear-gradient(45deg,)
    border-radius: 20PT;
    padding: 10PX;
    transition: 1S;
}